name: Build and Deploy Website

on:
  push:
    branches:
      - main  # Runs whenever you push to the 'main' branch

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run Generator Script
        run: python generate_site.py
        # This runs your script, which we assume generates files into the 'output' folder

      - name: Upload Artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'output' # This must match the OUTPUT_FOLDER variable in your python script

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
